.container {
  margin-top: 20px;
}

.card-container {
  display: flex;
}

.card-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 20px;
}

.card {
  width: 100%;
}


.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
